<?xml version='1.0' encoding='utf-8'?>
<plugin id="cn.jsfund.licaijie.devicestate" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Location</name>
    <DESCRIPTION>location in app plugin for jiashi-licaijie</DESCRIPTION>
    <js-module name="devicestate" src="www/devicestate.js">
        <clobbers target="window.plugins.devicestate" />
    </js-module>
    <!-- ios -->
     <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="DeviceState">
                <param name="ios-package" value="CDVDeviceState" />
            </feature>
        </config-file>
        <source-file src="src/ios/CDVDeviceState.m" />
        <header-file src="src/ios/CDVDeviceState.h" />
    </platform>
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="DeviceState">
                <param name="android-package" value="cn.jsfund.licaijie.devicestate.CDVDeviceState" />
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
        </config-file>
        <source-file src="src/android/CDVDeviceState.java" target-dir="src/cn/jsfund/licaijie/devicestate" />
    </platform>

   </plugin>

